.button{
    cursor: pointer;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px 50px;
    border: none;
    background-color: transparent;
    font-weight: 400;
}

.button-primary{
    background-color: var(--accent-color);
    color: white;
}